* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navegation {
  background-color: #121212;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo-menu img {
  width: 100%;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px 15px;
  color: #ffffff;
  font-size: 20px;
}
.content {
  background-color: #ffffff;
  padding: 20px;
}
.container-sports p {
  font-size: 20px;
}
.container-sports {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.image {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.container-category {
  padding: 20px;
  background-color: #333333;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.container-category img {
  padding: 10px;
}
.title-category {
  text-align: center;
}
.footer {
  background-color: #121212;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.topo {
  color: #ffffff;
}
.footer img {
  padding: 10px;
  width: 100%;
}
